@model BookListViewModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-md-12">
        <h1>Books of the Bible</h1>
    </div>
</div>
@foreach (var book in Model.Books)
{
    <div class="row">
        <div class="col-md-12">
            @Html.ActionLink(book.BookName,"Book", new  { id = book.BookName})
        </div>
    </div>
}